In [1]:
import os 
import pandas as pd

In [2]:
datadir = '/home/jing/Phd_project/project_UCD_blca/blca_publication_OUTPUT/blca_publication_OUTPUT_svm/'
os.chdir(datadir)

In [3]:
stv_df = pd.DataFrame(columns=['blca_invasiveness','blca_oncogenesis','blca_survival','Genes'],
                      )

In [4]:
gene_info_df=pd.read_csv('/home/jing/Phd_project/project_GBM/gbm_DATA/gbm_DATA_LINCS/2020/info/geneinfo_beta.txt', sep = "\t", index_col = 1)

gene_info_df = gene_info_df.sort_values(by = ["gene_symbol"])
display(gene_info_df)

,gene_id,ensembl_id,gene_title,gene_type,src,feature_space
gene_symbol,,,,,,
A1CF,29974,ENSG00000148584,APOBEC1 complementation factor,protein-coding,NCBI,inferred
A2M,2,ENSG00000175899,alpha-2-macroglobulin,protein-coding,NCBI,best inferred
A4GALT,53947,ENSG00000128274,"alpha 1,4-galactosyltransferase (P blood group)",protein-coding,NCBI,best inferred
A4GNT,51146,ENSG00000118017,"alpha-1,4-N-acetylglucosaminyltransferase",protein-coding,NCBI,inferred
AAAS,8086,ENSG00000094914,aladin WD repeat nucleoporin,protein-coding,NCBI,best inferred
...,...,...,...,...,...,...
ZXDB,158586,ENSG00000198455,zinc finger X-linked duplicated B,protein-coding,NCBI,inferred
ZXDC,79364,ENSG00000070476,ZXD family zinc finger C,protein-coding,NCBI,best inferred
ZYX,7791,ENSG00000159840,zyxin,protein-coding,NCBI,best inferred
ZZEF1,23140,ENSG00000074755,zinc finger ZZ-type and EF-hand domain contain...,protein-coding,NCBI,best inferred
ZZZ3,26009,ENSG00000036549,zinc finger ZZ-type containing 3,protein-coding,NCBI,best inferred

In [5]:
stv_df['Genes']= gene_info_df[gene_info_df['feature_space'] == 'landmark'].index
display(stv_df)

    blca_invasiveness blca_oncogenesis blca_survival   Genes
0                 NaN              NaN           NaN    AARS
1                 NaN              NaN           NaN   ABCB6
2                 NaN              NaN           NaN   ABCC5
3                 NaN              NaN           NaN   ABCF1
4                 NaN              NaN           NaN   ABCF3
..                ...              ...           ...     ...
973               NaN              NaN           NaN  ZNF395
974               NaN              NaN           NaN  ZNF451
975               NaN              NaN           NaN  ZNF586
976               NaN              NaN           NaN  ZNF589
977               NaN              NaN           NaN    ZW10

[978 rows x 4 columns]

In [6]:
survival_coef = pd.read_excel('/home/jing/Phd_project/project_UCD_blca/blca_publication_OUTPUT/blca_publication_OUTPUT_survival/blca_glmnet.xlsx',
              sheet_name='glmnet_result',index_col=0)
survival_coef.columns=['coefs']
survival_coef.dropna(inplace=True)
display(survival_coef)

                           coefs
survival_coeffs_glmnet
ABCB6                  -2.744978
ABCF1                  -0.555168
ABHD4                   0.799303
ABHD6                  -0.745040
ACD                     0.185356
...                          ...
XBP1                    1.839353
YKT6                    0.085767
YME1L1                  0.304126
ZNF274                 -0.430560
ZNF586                  0.056330

[301 rows x 1 columns]

In [7]:
for i in survival_coef.index:
    stv_df.loc[stv_df['Genes']==i,'blca_survival']= survival_coef.loc[i,'coefs']

In [8]:
stv_df

    blca_invasiveness blca_oncogenesis blca_survival   Genes
0                 NaN              NaN           NaN    AARS
1                 NaN              NaN     -2.744978   ABCB6
2                 NaN              NaN           NaN   ABCC5
3                 NaN              NaN     -0.555168   ABCF1
4                 NaN              NaN           NaN   ABCF3
..                ...              ...           ...     ...
973               NaN              NaN           NaN  ZNF395
974               NaN              NaN           NaN  ZNF451
975               NaN              NaN       0.05633  ZNF586
976               NaN              NaN           NaN  ZNF589
977               NaN              NaN           NaN    ZW10

[978 rows x 4 columns]

In [9]:
m_h_genes = pd.read_pickle('/home/jing/Phd_project/project_UCD_blca/blca_OUTPUT/blca_OUTPUT_m_h_convert/m_h_genes.pkl')
display(m_h_genes)

              Gene Human_Genes
0    4933427D14Rik    KIAA0753
1             Aars        AARS
2            Abcb6       ABCB6
3            Abcc5       ABCC5
4            Abcf1       ABCF1
..             ...         ...
948          Zfp36       ZFP36
949         Zfp451      ZNF451
950          Zmiz1       ZMIZ1
951          Zmym2       ZMYM2
952           Zw10        ZW10

[953 rows x 2 columns]

In [10]:
stv_df = stv_df.merge(m_h_genes,how='left',left_on='Genes',right_on ='Human_Genes')

In [11]:
stv_df

,blca_invasiveness,blca_oncogenesis,blca_survival,Genes,Gene,Human_Genes
0,NaN,NaN,NaN,AARS,Aars,AARS
1,NaN,NaN,-2.744978,ABCB6,Abcb6,ABCB6
2,NaN,NaN,NaN,ABCC5,Abcc5,ABCC5
3,NaN,NaN,-0.555168,ABCF1,Abcf1,ABCF1
4,NaN,NaN,NaN,ABCF3,Abcf3,ABCF3
...,...,...,...,...,...,...
973,NaN,NaN,NaN,ZNF395,NaN,NaN
974,NaN,NaN,NaN,ZNF451,Zfp451,ZNF451
975,NaN,NaN,0.05633,ZNF586,NaN,NaN
976,NaN,NaN,NaN,ZNF589,NaN,NaN
977,NaN,NaN,NaN,ZW10,Zw10,ZW10

In [12]:
stv_df.set_index('Gene',inplace=True)

In [13]:
inv_stv = pd.read_pickle(os.path.join(datadir,'stv_lincs_sct_inv_blca_N_M.pkl'))
display(inv_stv)

                  n         s
Gene
Lypla1     0.015850 -0.018173
Rrs1      -0.008563  0.000787
Mcm3       0.008565  0.004859
Tram2     -0.017442 -0.002139
Zfp451     0.011450 -0.004094
...             ...       ...
Casp7     -0.028835 -0.007642
Rab11fip2  0.016705 -0.006869
Pax8       0.000000  0.000000
Ccna1     -0.000012  0.000073
Snca       0.000000  0.000000

[952 rows x 2 columns]

In [14]:
onc_stv = pd.read_pickle(os.path.join(datadir,'stv_lincs_sct_onc_healthy_onc.pkl'))
display(onc_stv)

                  n         s
Gene
Lypla1    -0.001210 -0.015217
Rrs1       0.046555  0.019215
Mcm3       0.037907  0.014844
Tram2      0.039385 -0.000692
Zfp451     0.013403  0.000436
...             ...       ...
Casp7      0.041753  0.006667
Rab11fip2 -0.036325 -0.008880
Pax8      -0.000219 -0.000138
Ccna1      0.000002  0.000043
Snca      -0.105726 -0.002671

[952 rows x 2 columns]

In [15]:
for i in inv_stv.index:
    stv_df.loc[i,'blca_invasiveness'] =inv_stv.loc[i,'n']
for i in onc_stv.index:
    stv_df.loc[i,'blca_oncogenesis'] =onc_stv.loc[i,'n']

In [16]:
stv_df

       blca_invasiveness blca_oncogenesis blca_survival   Genes Human_Genes
Gene
Aars            0.016052         0.078487           NaN    AARS        AARS
Abcb6           0.001612         0.027125     -2.744978   ABCB6       ABCB6
Abcc5          -0.016742         0.002121           NaN   ABCC5       ABCC5
Abcf1           -0.03899        -0.028959     -0.555168   ABCF1       ABCF1
Abcf3           0.023288         0.036671           NaN   ABCF3       ABCF3
...                  ...              ...           ...     ...         ...
NaN                  NaN              NaN           NaN  ZNF395         NaN
Zfp451           0.01145         0.013403           NaN  ZNF451      ZNF451
NaN                  NaN              NaN       0.05633  ZNF586         NaN
NaN                  NaN              NaN           NaN  ZNF589         NaN
Zw10           -0.042841         0.009722           NaN    ZW10        ZW10

[978 rows x 5 columns]

In [19]:
stv_df.fillna(0,inplace=True)

/tmp/ipykernel_1305490/2804501848.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  stv_df.fillna(0,inplace=True)

In [20]:
stv_df

        blca_invasiveness  blca_oncogenesis  blca_survival   Genes Human_Genes
Gene
Aars             0.016052          0.078487       0.000000    AARS        AARS
Abcb6            0.001612          0.027125      -2.744978   ABCB6       ABCB6
Abcc5           -0.016742          0.002121       0.000000   ABCC5       ABCC5
Abcf1           -0.038990         -0.028959      -0.555168   ABCF1       ABCF1
Abcf3            0.023288          0.036671       0.000000   ABCF3       ABCF3
...                   ...               ...            ...     ...         ...
NaN              0.000000          0.000000       0.000000  ZNF395           0
Zfp451           0.011450          0.013403       0.000000  ZNF451      ZNF451
NaN              0.000000          0.000000       0.056330  ZNF586           0
NaN              0.000000          0.000000       0.000000  ZNF589           0
Zw10            -0.042841          0.009722       0.000000    ZW10        ZW10

[978 rows x 5 columns]

In [21]:
stv_df.to_csv(os.path.join(datadir,'stv_check.csv'))